.bash*
.profile
.viminfo
piscataway.sql
web/files/
.cache
.config
.local
config.php
.vimrc
.ssh
.selected_editor
php_error.log
webchanges.log
scripts/yt-dlp
urlwatch.log
urlwatch_log
revapi_log
downloaded
bids_nopublish
