<span itemprop="location" itemscope itemtype="https://schema.org/Place">
	<meta itemprop="name" content="Township of Piscataway Municipal Building">
	<span itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
		<meta itemprop="streetAddress" content="455 Hoes Lane">
		<meta itemprop="addressLocality" content="Piscataway">
		<meta itemprop="addressRegion" content="NJ">
		<meta itemprop="postalCode" content="08854">
		<meta itemprop="addressCountry" content="US">
	</span>
</span>
