{% extends 'layout.html' %}

{% block maincontent %}
	<h3>Adding the Calendar feed to your phone</h3>
	This process is way harder then it should be!<br>
	For Google Calendar (this is easier to do from a computer):
	<ul>
		<li>Open <a href="https://calendar.google.com/calendar">Google Calendar</a></li>
		<li>In the bottom right, click the "+" button next to "Other calendars"</li>
		<li>Select "From URL"</li>
		<li>Put <pre style="display: inline">http://www.piscatawaynjmeetings.com/ical.php</pre> into the "URL of calendar" field</li>
		<li>Click "Add calendar"</li>
	</ul>
{% endblock %}
