{% extends 'layout.html' %}

{% block title %}Piscataway Democratic Organization Campaign Finance{% endblock %}

{% block maincontent %}
	<h3>Piscataway Democratic Organization Campaign Finance Documents</h3>
	<table class="table table-striped table-sm">
		<caption>Piscataway Democratic Organization Campaign Finance Documents</caption>
		<thead>
			<tr>
				<th scope="col">Type</th>
				<th scope="col">Campaign Year</th>
				<th scope="col">Download</th>
			</tr>
		</thead>
		<tbody>
			{% for cur in campaign_files %}
				<tr>
					<td>{{ cur.type_description }}</td>
					<td>{{ cur.year }}</td>
					<td><a href="{{ cur.getLink() }}">{{ cur.filename }}</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<br><br>
	<hr>
	<div>
		These are campaign finance statements from the <a href="https://www.elec.state.nj.us/ELECReport">New Jersey Election Law Enforcement Commission</a>.  Their website is fairly hard to use, so they're mirrored here
	</div>	
{% endblock %}
